a {color: #DB4B90;
cursor: pointer;
text-decoration: none;
}
.container-dados-card-meus-servicos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #DB4B90;
    box-shadow: -6px 6px 6px #676767;

}

.informacoes-parceiro-card-meus-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    align-items:start;
    padding: 2%;
}

.status{
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    width: 30%;
}



.tipo-status {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.tipo-servico {
    font-weight: bold;
    font-size: 20px;
    

}

.data-hora {
    margin-bottom: 16px;
    font-size: 17px;
}


.nome-prestador {
    font-size: 20px;


}

.nome-pet {
    font-size: 17px;
    margin-bottom: 10%;
}


.dados {
    display: flex;
    flex-direction: column;
}

.informacoes-parceiro {
    display: flex;
    flex-direction: column;
}