.container-dados-card-meus-servicos {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
    width: 70%;
    margin-top: 2%;
    overflow: hidden;
    border: 2px solid #DB4B90;
    box-shadow: 0px 4px 6px #676767;

}

.informacoes-parceiro-card-meus-servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 5%;
    margin-top: 3%;
}

.botoes-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-right: 2%;
    width: 20%;
}



.tipo-status {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.tipo-servico {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10%;

}

.data-hora {
    margin-bottom: 16px;
    font-size: 17px;
}


.nome-prestador {
    font-size: 20px;


}

.nome-pet {
    font-size: 17px;
    margin-bottom: 10%;
}


.dados {
    display: flex;
    flex-direction: column;
}

.informacoes-parceiro {
    display: flex;
    flex-direction: column;
}