.component-button {
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    cursor: pointer;
}
a {color: #DB4B90;
    cursor: pointer;
    text-decoration: none;
    }