.cadastro-body {
    /* overflow: hidden; */
    background-color: #FFF;
}

.cadastro-main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cadastro-sessionImg {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-image: url(../imgs/cadastro/img-fundo-cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cadastro-containerText {
    margin-bottom: 17px;
}

.cadastro-text {
    color: rgba(245, 245, 245, 1);
    font-size: 16px;
    font-weight: 700;
    margin: 0 51px;
}

.cadastro-containerLogo {
    display: flex;
    flex-direction: row-reverse;
}

.cadastro-logo {
    margin-right: 50px;
    margin-bottom: 27px;
}


.cadastro-div_botao_voltar {
    width: 2%;
    display: flex;
    align-items: end;
    margin-left: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.cadastro-button_voltar {
    border: none;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1vh;
    text-decoration: none;
}

.cadastro-sessionForm {
    width: 58%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.cadastro-campoTitulo {
    display: flex;
    margin-left: 2vw;
    font-size: 40px;
    font-weight: 800;
    color: rgba(219, 75, 144, 1);
    margin-top: 5vh;
}

.cadastro-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-container-dados-pessoais,
.cadastro-container-endereco,
.cadastro-container-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.cadastro-texto-guia {
    width: 15%;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #DB4B90;
    justify-content: end;
    margin-right: 5%;
}

.cadastro-dados-pessoais,
.cadastro-endereco,
.cadastro-login {
    width: 70%;
    margin-right: 10%;
}

.cadastro-camposJuntos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 5%;
}

.cadastro-campoForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cadastro-campoSozinho {
    width: 100%;
    margin-top: 2vh;
}

.cadastro-campoForm label {
    font-size: 16px;
    font-weight: 600;
}

.cadastro-inputEmail {
    width: 100%;
    height: 35px;
}

.cadastro-inputOutros {
    width: 100%;
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.cadastro-campoForm input {
    background-color: rgba(229, 229, 229, 1);
    border: none;
    overflow: none;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.cadastro-menssagemErro {
    margin-top: 5px;
    color: rgba(219, 75, 144, 1);
    font-size: 14px;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.cadastro-campoCadastre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

}

.cadastro-button_entrar {
    background-color: #DB4B90;
    border-radius: 30px;
    width: 249px;
    color: white;
    border: none;
    font-size: 20px;
    margin: 2vh 0;
    text-decoration: none;
}

.cadastro-linkForm {
    color: rgba(219, 75, 144, 1);
    text-decoration: none;
}

.cadastro-span-chamativo-login {
    display: flex;
    gap: 5px;
}


/*--------------------------------------------------RESPONSIVIDADE---------------------------------------------------------*/

@media (max-width: 600px) {

    .cadastro-sessionImg {
        display: none;
    }

    .cadastro-div_botao_voltar {
        display: none;
    }

    .cadastro-campoTitulo {
        font-size: 32px;
        justify-content: center;
    }

    .cadastro-sessionForm {
        width: 100%;
        margin-left: 5vh;
    }

    .cadastro-campoForm label {
        font-size: 14px;
    }

    .cadastro-texto-guia {
        font-size: 14px;
    }

    .cadastro-menssagemErro {
        font-size: 12px;
    }

    .cadastro-button_entrar {
        font-size: 16px;
    }
}

@media (min-width: 600px) {

    .cadastro-sessionImg {
        display: none;
    }

    .cadastro-div_botao_voltar {
        display: none;
    }

    .cadastro-campoTitulo {
        font-size: 32px;
        justify-content: center;
    }

    .cadastro-sessionForm {
        width: 100%;
        margin-left: 5vh;
    }

    .cadastro-campoForm label {
        font-size: 14px;
    }

    .cadastro-texto-guia {
        font-size: 14px;
    }

    .cadastro-menssagemErro {
        font-size: 12px;
    }

    .cadastro-button_entrar {
        font-size: 16px;
    }
}

@media (min-width: 768px){

    .cadastro-body {
        /* overflow: hidden; */
    }
    
    .cadastro-main {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .cadastro-sessionImg {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        background-image: url(../imgs/cadastro/img-fundo-cadastro.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .cadastro-containerText {
        margin-bottom: 17px;
    }
    
    .cadastro-text {
        color: rgba(245, 245, 245, 1);
        font-size: 16px;
        font-weight: 700;
        margin: 0 51px;
    }
    
    .cadastro-containerLogo {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .cadastro-logo {
        margin-right: 50px;
        margin-bottom: 27px;
    }
    
    
    .cadastro-div_botao_voltar {
        width: 2%;
        display: flex;
        align-items: end;
        margin-left: 5vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    .cadastro-button_voltar {
        border: none;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 1vh;
    }
    
    .cadastro-sessionForm {
        width: 58%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
    }
    
    .cadastro-campoTitulo {
        display: flex;
        margin-left: 2vw;
        font-size: 40px;
        font-weight: 800;
        color: rgba(219, 75, 144, 1);
        margin-top: 5vh;
    }
    
    .cadastro-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cadastro-container-dados-pessoais,
    .cadastro-container-endereco,
    .cadastro-container-login {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }
    
    .cadastro-texto-guia {
        width: 15%;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        color: #DB4B90;
        justify-content: end;
        margin-right: 5%;
    }
    
    .cadastro-dados-pessoais,
    .cadastro-endereco,
    .cadastro-login {
        width: 70%;
        margin-right: 10%;
    }
    
    .cadastro-camposJuntos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        gap: 5%;
    }
    
    .cadastro-campoForm {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .cadastro-campoSozinho {
        width: 100%;
        margin-top: 2vh;
    }
    
    .cadastro-campoForm label {
        font-size: 16px;
        font-weight: 600;
    }
    
    .cadastro-inputEmail {
        width: 100%;
        height: 35px;
    }
    
    .cadastro-inputOutros {
        width: 100%;
        height: 35px;
    }
    
    .cadastro-campoForm input {
        background-color: rgba(229, 229, 229, 1);
        border: none;
        overflow: none;
        border-radius: 10px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
    }
    
    .cadastro-menssagemErro {
        margin-top: 5px;
        color: rgba(219, 75, 144, 1);
        font-size: 14px;
        font-weight: medium;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    
    .cadastro-campoCadastre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    
    }
    
    .cadastro-button_entrar {
        background-color: #DB4B90;
        border-radius: 30px;
        width: 249px;
        color: white;
        border: none;
        font-size: 20px;
        margin: 2vh 0;
        text-align: center;
    }
    
    .cadastro-linkForm {
        color: rgba(219, 75, 144, 1);
        text-decoration: none;
    }
    
    .cadastro-span-chamativo-login {
        display: flex;
        gap: 5px;
    }    
}