@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
a {color: #DB4B90;
  cursor: pointer;
  text-decoration: none;
  }
.conteudo-edita-cadastra-servico{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-left: 21%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 100%;
}
.titulo-publicacao-doacao{
  font-weight: 700;
  font-size: 32px;
  color: #303030;
  padding-top: 10px;
}
.sub-doacao{
  font-weight: 500;
  font-size: 20px;
  color: #303030;
  padding-bottom: 10px;
}
.titulo-input{
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #303030;
  padding-bottom: 12px;
}
.o-nome-obj-doacao{
	width: 60%;
	margin: 0 auto;
	padding: 15px;
	border: none;
	margin-bottom: 10px;
	border-radius: 30px;
  background-color: gainsboro;
}
.o-nome-obj-doacao{
  font-size: 18px;
  border-radius: 10px;
}
.textarea-e-estado-categoria{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.caixa-doacao{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 90%;
}

.textarea{
  display: flex;
  text-decoration: none;
  color: #303030;
  padding: 50px;
  margin-top: 10px;
  width: 40%;
  background-color:gainsboro;
}
.categoria-estado{
  display: flex;
  padding-right: 30%;
  gap: 20px;
  height: 30px;
}
.categoria-doacao{
  background-color:#DB4B90;
  font-size: 18px;
  color: #fff;
  border: 5px solid #DB4B90;
  border-radius: 10px;
  box-shadow: #fff;
}
.estado-doacao{
  background-color:#DB4B90;
  font-size: 18px;
  color: #fff;
  border: 5px solid #DB4B90;
  border-radius: 10px;
  box-shadow: #fff;
}

.upload-img-doacao{
  margin-bottom: 30px;
  padding-left: 8px;
}
.enviar-img-doacao-txt{
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #303030;
    padding-top: 10px;
    padding-bottom: 12px;
}
.enviar-img-doacao{
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #303030;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #DB4B90;
    color: #fff;
    border: 1px solid #DB4B90;
    border-radius: 30px;
  }
  
  /* Ocultar o input padrão */
  input[type="file"] {
    display: none;
  }

  .formulario-de-retirada-doacao{
    display: flex;
    justify-content: space-evenly;
    padding-right: 20%;
    padding-top: 10px;
  }
  .primeira-parte-perguntas, .segunda-parte-perguntas{
    display: flex;
    gap: 30px;
  }
  .txt-retirada{
    justify-content: flex-start;
    font-weight: 600;
    font-size: 20px;
    color:#DB4B90;
  }
  .perguntas-retirada-segunda-parte{
    padding-top: 25px;
  }

  .buttons-edita-doacao{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 20px;
    padding-left: 40%;
    padding-right: 10%;
    
}



