.card-servico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    background-color: #FFDEDF;
    max-width: 65%;
    min-width: 65%;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;

}

.container-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 2%;
    max-height: 15px;
    background-color: rgb(131, 123, 123);
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 100%;
    overflow: hidden;


}

.informacoes-parceiro {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.imagem-prestador {
    max-width: 100%;
    max-height: 100%;
}

.container-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    overflow: hidden;

}

.container-estrelas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: -11%;
    margin-right: 2%;

}

.avaliacao {
    display: flex;
    justify-content: space-between;
    width: 55px;
    font-size: 15px;
    margin-left: 20px;
}

.servicos {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    align-items: self-start;
    max-width: 60%;
    margin-top: 1%;


}


.nome-prestador {
    font-size: 18px;
    font-weight: bold;
    margin-top: 2%;


}

.endereco {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    font-size: 10px;
    font-weight: bold;


}

.cidade {
    font-size: 15px;
    margin-left: 1%;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: -100px;
    text-align: justify;
    background-color: rgb(205, 205, 205);
    box-shadow: 5px 5px 8px;
    border-radius: 10px;
    margin: 2%;
    overflow-x: auto;
    max-height: 10vh;
    min-height: 10vh;
}

.descricao-texto-card-parceiro {
    margin: 3%;
    font-size: 13px;
    text-shadow: rgb(255, 255, 255) -1px 2px 2px;
    align-items: center;
}