.card-item-doacao {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-bottom: 2%;

    background-color: #FFDEDF;
    border-radius: 10px;
    overflow: hidden;
    max-width: 90%;
    min-width: 80%;
    min-height: 200px;
}

.container-imagem-item-doacao {
    display: flex;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -1.5%;
    background-color: deeppink;
}

.container-informacoes-item-doacao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 2%;
    color: black;

}

.descricao-item-doacao{
    display: flex;
    align-items: center;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30%;
    max-width: 80%;


}