@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

/*MeuPerfil*/
.meu-perfil-container{
    width: 100%;
    display: flex;
}

.meu-perfil-menu{
    width: 6%;
}

.meu-perfil-bloco-1{
    margin: 2% 5%;
    width: 50%;
}

.meu-perfil-titulo{
    padding: 2vh 0;
    font-size: 24px;
    font-weight: 700;
}

.meu-perfil-foto-perfil{
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-bottom: 5vh;
}

.meu-perfil-img-foto{
    border-radius: 50%;
    width: 12%;
}

.meu-perfil-inputs{
    width: 100%;
}

.meu-perfil-texto-guia{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin: 1vh 0;
}

.meu-perfil-texto-guia-p{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #DB4B90;
}

.meu-perfil-icon-editar{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.meu-perfil-inputs-box{
    margin: 5vh 0;
}

.meu-perfil-input-campos-juntos{
    width: 100%;
    display: flex;
    gap: 4%;
    margin-bottom: 2vh;
}

.meu-perfil-input-campo-junto{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.meu-perfil-input-campo-separado{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.meu-perfil-label-campo{
    font-size: 14px;
    font-weight: 600;
}

.meu-perfil-input-campo{
    background-color: rgba(229, 229, 229, 1);
    border: none;
    overflow: none;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.meu-perfil-btn{
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
    background-color: #DB4B90;
    color: #fff;
    border: 1px solid #DB4B90;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2vh;
}

.meu-perfil-btn-salvar{
    display: flex;
    width: 100%;
    justify-content: end;
}

.meu-perfil-bloco-2{
    width: 44%;
    margin: 5% 0;
}

.meu-perfil-modal-meus-pets{
    display: flex;
    justify-content: center;
}

.meu-perfil-btn-cadastrar-pet{
    display: flex;
    justify-content: end;
    margin-right: 10vh;
}

/*---------------------------- Cliente --------------------------*/
/*ModalMeusPets*/
.modal-meus-pets-container{
    height: 600px;
    width: 75%;
    background-color: #FFDEDF;
    padding: 3vh;
    border-radius: 30px;
    margin-bottom: 5vh;
}

.modal-meus-pets-titulo{
    margin: 5% 10%;
    font-size: 24px;
    font-weight: 700;
}

.modal-meus-pets-area-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    overflow-y: auto;
    max-height: 80%;
}


/*CardMeusPets*/
.card-meus-pets{
    width: 85%;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 5vh;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
}

.card-meus-pets-foto-perfil{
    width: 20%;
    border-radius: 50%;
}

.card-meus-pets-nome{
    font-size: 16px;
    font-weight: 700;
}

.card-meus-pets-idade{
    font-size: 14px;
    font-weight: 600;
}

/*---------------------------- Parceiro --------------------------*/
/*ModalMeusServicos*/
.modal-meus-servicos-container{
    width: 75%;
    background-color: #FFDEDF;
}
