@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

.modal-leitura-relatorio-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
a {color: #DB4B90;
    cursor: pointer;
    text-decoration: none;
    }

.modal-leitura-relatorio-conteudo-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 7vh;
    border-radius: 30px;
}

.modal-leitura-relatorio-txt-titulo{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1vh;
}

.modal-leitura-relatorio-txt-subtitulo{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.space{
    margin: 1vh;
}

.modal-leitura-relatorio-txt-texto{
    margin: 0;
    font-size: 14px;
}

.modal-leitura-relatorio-caixa-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.modal-leitura-relatorio-textarea{
    width: 100%;
    height: 35vh;
    border-radius: 20px;
    padding: 3vh;
}

.modal-leitura-relatorio-texto-guia{
    width: 90%;
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.modal-leitura-relatorio-btn-container{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.modal-leitura-relatorio-btn-enviar{
    background-color: #DB4B90;
    border-radius: 30px;
    width: 249px;
    height: 40px;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
}